{%include 'AppBundle::Default/nav.html.twig'%}
    <div id="fullpage">

        <!-- Intro section -->
        <div id="intro" class="section">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="{{asset('bundles/acmedemo/ghassen/img/logo.png')}}" class="logo" alt="Delicious - since 1908" />
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <!-- At the end, let's add a little magic! -->
    <script src="{{asset('bundles/acmedemo/ghassen/js/jquery-1.11.0.min.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/jquery-ui-1.10.4.js') }}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/jquery.fullPage.min.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/config.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/deliciousScripts.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/jquery.photoset-grid.min.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/jquery.colorbox-min.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/contactForm.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/googleAnalytics.js')}}"></script>
    <script src="{{asset('bundles/acmedemo/ghassen/js/isMobile.min.js')}}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv-3.7.0.min.js"></script>
      <script src="js/respond-1.4.2.min.js"></script>
    <![endif]-->
  </body>
</html>

