<!DOCTYPE html>
<html lang="en">
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ghassen Chaari</title>

    <!-- Bootstrap CSS -->
    <link href="{{asset('bundles/acmedemo/ghassen/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- jQuery FullPage CSS -->
    <link href="{{asset('bundles/acmedemo/ghassen/css/jquery.fullPage.css')}}" rel="stylesheet">
    
    <!-- Hover CSS -->
    <link href="{{asset('bundles/acmedemo/ghassen/css/hover-min.css')}}" rel="stylesheet">

    <!-- ColorBox CSS -->
    <link href="{{asset('bundles/acmedemo/ghassen/css/colorbox.css')}}" rel="stylesheet">

    <!-- Main CSS -->
    <link href="{{asset('bundles/acmedemo/ghassen/css/style.css')}}" rel="stylesheet">

    <!-- Your Custom CSS -->
    <link href="{{asset('bundles/acmedemo/ghassen/css/custom.css')}}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
    <link href="../../../maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="{{path('app_homepage')}}" class="navbar-brand">Déjà Lu ®</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{path('app_homepage')}}">Accueil</a></li>
            <li><a href="{{path('recette')}}">Recette</a></li>
            <li><a href="{{path('app_ghassen')}}">Contact</a></li>
            
          </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
